/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Global Colors
 */

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Charcoal

$charcoal-100: #37434e;
$charcoal-95: #414d57;
$charcoal-90: #4b555f;
$charcoal-85: #555f68;
$charcoal-80: #5f6971;
$charcoal-75: #69727a;
$charcoal-70: #737b83;
$charcoal-65: #7d858c;
$charcoal-60: #878e95;
$charcoal-55: #91989e;
$charcoal-50: #9ba1a6;
$charcoal-45: #a5aaaf;
$charcoal-40: #afb4b8;
$charcoal-35: #b9bdc1;
$charcoal-30: #c3c6ca;
$charcoal-25: #cdd0d3;
$charcoal-20: #d7d9dc;
$charcoal-15: #e1e3e5;
$charcoal-10: #ebeced;
$charcoal-5: #f1f3f4;
