/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Chat Panel Styles
 */

div#mp-chat-panel {
    box-shadow: inset -7px 0 9px -7px #aaa;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
    max-width: 50%;

    div.mp-content-header {
        box-shadow: inset -7px 0 9px -7px #aaa;
    }
}
