/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Navbar Panel Styles
 */

div#mp-navbar-panel {
    background: #ebebeb;
    box-shadow: inset -7px 0 9px -7px #aaa;
    display: flex;
    flex-direction: column;
    max-width: 62px;
    min-width: 62px;

    .navbar-item {
        align-items: stretch;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        max-height: 65px;
        min-height: 65px;
        padding: 8px 5px 8px 3px;

        &:hover {
            background: #f5f5f5;
            box-shadow: inset -7px 0 9px -7px #aaa;
        }

        .navbar-item-button {
            align-items: center;
            border-left: 2px solid transparent;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            max-height: 49px;
            min-height: 49px;

            i {
                font-size: 20px;
            }

            span {
                font-size: 0.8em;
            }
        }

        &.active {
            .navbar-item-button {
                border-left: 2px solid $mp-blue;

                i {
                    color: $mp-blue;
                }

                span {
                    color: $mp-blue;
                }
            }
        }
    }
}
