/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Panel Filter Container Styles
 */

.mp-panel-filter-container {
    border-bottom: 1px solid $charcoal-20;
    padding: 8px;

    div:not(:first-child) {
        margin-top: 6px;
    }

    div.input-group {
        margin: 0 !important;

        label {
            font-size: 14px;
        }

        input {
            font-size: 14px;
        }
    }

    div.form-switch {
        label.form-check-label {
            font-size: 14px;
        }
    }
}
