/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * People Sidebar Styles
 */

#mp-people-sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .list-container {
        overflow: auto;

        ul {
            li {
                cursor: pointer;
            }
        }
    }
}
